html {
  font-family: Bitter, serif;
}

.logo-text,
.pricing-head {
  font-family: Roboto, sans-serif;
}

.masthead {
  background-color: #224062;
}

a {
  text-decoration: none;
  color: #f9c886;
}

.current {
  color: #fff;
}

h1 {
  color: #fff;

}

.navtext {
  color:  #ef7724;
}

a:hover {
  color: #fff;
  background-color: #5cade5;
}

.btn {
  background-color: #ef7724;
  border-radius: 0;
  border-color: #224062;
  border-style: outset;
  font-family: Roboto, sans-serif;
}

.bannerbanner {
  height: 25rem;
  background-image: url("../images/amplifier.jpeg");
  background-size: 50% 50%, cover cover;
  background-position: 50%;
  opacity: .2;
  background-repeat: no-repeat;
}

.banner {
  height: 25rem;
  background-image: url("../images/amplifier.jpeg");
  background-size: 100% 100%,  cover;
  background-position: center center;
  opacity: .8;
  background-repeat: no-repeat;
}

.banner-tour {
  height: 25rem;
  background-image: url("../images/tour-banner.jpg");
  background-size: cover;
  background-position: 50%;
  opacity: .8;
}

.banner-pricing {
  height: 25rem;
  background-image: url("../images/amplifier.jpeg");
  background-size: 50% 50%, cover cover;
  background-position: 50%;
  opacity: .8;
  background-repeat: no-repeat;
}

.head-text,
.head-body {
  color: #224062;
}

.card {
  border: solid;
  border-color: #224062;
  border-width: medium;
  max-width: 100%;
  border-style: outset;
  min-height: 25em;
}

.black {
  background-color: #224062;
}

.text-left {
  max-width: 28em;
}

footer {
  background-color: #224062;
  font-family: Roboto, sans-serif;
}


.banner-banner {
  position: relative;
  margin: 0;
}

.figure {
  margin: 0;
  padding: 0;
}

.banner-content-content {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  max-width: 15em;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;


  padding: 0 1rem;
  margin: 0;
}

.banner-content {
  background-color: #fff;
  border-radius: .5rem;
}
